.splash > .preloader-wrapper {
  position: absolute;
  left: 50%;
  margin-left: -40px;
  top: 50%;
  margin-top: -40px;
  width: 80px;
  height: 80px;
}

.page-host {
  position: absolute;
  left: 0;
  right: 0;
  top: 70px;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.header-button {
  margin-top: 30px;
}

.cursor-pointer {
  cursor: pointer;
}
